<!-- ko with: home -->
<div class="jumbotron">
    <h1>Plan Performance</h1>
    <p class="lead">Plan Performance Metrics is an internal tool for Pension Consultants to track the performance of plans over time.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Investment</h2>
        <p>Text</p>
        <p><a class="btn btn-default" href="">Button &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Vendor</h2>
        <p>Text</p>
        <p><a class="btn btn-default" href="">Button &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Participant</h2>
        <p>Text</p>
        <p><a class="btn btn-default" href="">Button &raquo;</a></p>
    </div>
</div>
<!-- /ko -->
