.input-button {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 3px 15px;
    background-color: #eeeded;
    min-width: 75px;
}

.input-button:hover {
    background-color: #e0dede;
}

.input-label {
    min-width: 150px;
}

.input-text {
    min-width: 400px;
}

.input-checkbox {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
}

.input-drop-down-list {
    width: 400px;
}